PORT=3000

# Database 
DATABASE_URL=postgres://admin:supersecretpassword@localhost:5432/cex

# frontend
FRONTEND_URL=http://localhost:5173

# tokens 
ADMIN_API_TOKEN=dy06M+Ruf70oYkhQO53Tg859deZq3ih7eIJ1rE0XpXE=

# JWT variables 
JWT_PRIVATE_KEY_PATH=./secrets/jwt-private.pem
JWT_PUBLIC_KEY_PATH=./secrets/jwt-public.pem
JWT_ISSUER=centralized-exchange
JWT_AUDIENCE=exchange-api
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_SECONDS=2592000
COOKIE_SECURE=false